nav{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

#countdown {
    
}

#scores {
    color: blueviolet;
}

main p {
    font-size: 25px;
}

main button {
    font-size: 25px;
}

.answer {
    display: block;
    font-size: 25px;
}